html {
    padding: 0;
    margin: 0;
    display: flexbox;
}

body {
    background-color: #192c46;
    display: grid;
    grid-template-rows: 1fr 15fr 6fr;
    height: 100vh;
}

.container.code {
    height: 78vh;
    width: 100%;
    background-color: #cccccc;
    color: #000;
    border: 2px solid rgb(160, 156, 156);
}

.container.console {
    height: 18vh;
    width: 100%;
    background-color: #000000;
    color: #fff;
    border: 2px solid rgb(160, 156, 156);
}
.container.code{
    display: grid;
    grid-template-columns: 1fr 30fr;
}
.numbers-line{
    height: 100%;
    width: 100%;
    background-color: rgba(226, 226, 226, 0.74);
    font-size: 2em;
}
.caixa-codigo {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2em;

}

.container.buttons{
    display: flex; 
}

.code{
    overflow-x: scroll;
}

.code ol {
/* margin-left: 10px; */
list-style: none;
}

.code ol li {
display: flex;
justify-content: left;
}

.code ol li .line-div{
    text-align: start;
}

.code ol li .number-div{
    text-align: end;
    width: 35px;
    margin-right: 5px;
    background: rgba(187, 187, 187, 0.867);
}