/* Compilador - Analisador Léxico
 * Bruno Vicente Donaio Kitaka - 16156341
 * João Pedro Porta - 16039778
 * Vinicius Trevisan - 16011231
 */
 
html {
    padding: 0;
    margin: 0;
    display: flexbox;
}

body {
    background-color: #192c46;
    display: grid;
    grid-template-rows: 1fr 15fr 6fr;
    height: 100vh;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

button {
    border: 2px outset black;
    background-color:rgba(226, 226, 226, 0.74);
    height:30px;
    width:20hv;
    cursor:pointer;
    position: relative;
    top: -3px;
    left: -2px;
}

input[type=button] {
    font-family: 'Inconsolata', monospace;
}

button:hover {
    background-color:  rgb(160, 156, 156);
    color:rgb(0, 0, 0);
 }

.container.code {
    height: 75vh;
    width: 100%;
    background-color: #cccccc;
    color: #000;
    border: 2px solid rgb(160, 156, 156);
}

.container.console {
    height: 18vh;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid rgb(160, 156, 156);
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}
.container.code{
    display: grid;
    grid-template-columns: 1fr 42fr;
}
.numbers-line{
    height: 100%;
    width: 90%;
    background-color: rgba(226, 226, 226, 0.74);
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}
.caixa-codigo {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}
textarea::-webkit-scrollbar { 
    width: 0 !important;
}
textarea {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.container.buttons{
    display: flex; 
}

.code{
    overflow-x: scroll;
}

.console{
    overflow-x: scroll;
}

.code ul {
/* margin-left: 10px; */
list-style: none;
width: 200%;
}

.code ul li {
display: flex;
justify-content: left;
}

.code ul li .line-div{
    text-align: start;
}

.code ul li .number-div{
    text-align: end;
    width: 35px;
    margin-right: 5px;
    background: rgba(187, 187, 187, 0.867);
}
